
#menu{
  width: 28%;
  float: left;
  background: #A5CDDD;
  border-radius: 30px;
  }
#menu img{
   width: 100%;
   border-radius: 25%;
}
#contenido{
  width: 70%;
  float:right;
}
body{
  background: #00FFB4;
}
.derecha{
  background: #FAFF94;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 30px;
}
  h2{
    text-align: center;
    border: 2px solid #000000;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  ul{
    list-style: none;
  }
